= form_for [@work_plan,@discipline] do |f|
  - if @discipline.errors.any?
    #error_explanation
      %h2= "#{pluralize(@discipline.errors.count, "error")} prohibited this discipline from being saved:"
      %ul
        - @discipline.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :time_start
    = f.date_select :time_start
  .field
    = f.label :time_end
    = f.date_select :time_end
  .field
    = f.label :plan
    = f.number_field :plan
  .field
    = f.label :fact
    = f.number_field :fact

  .actions
    = f.submit 'Сохранить'
