= form_for @attestation do |f|
  - if @attestation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@attestation.errors.count, "error")} prohibited this attestation from being saved:"
      %ul
        - @attestation.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :content
    = f.text_field :content
  .field
    = f.label :time_start
    = f.date_select :time_start
  .field
    = f.label :time_end
    = f.date_select :time_end
  .field
    = f.label :aspirant_id
    = f.number_field :aspirant_id
  .field
    = f.label :chief_id
    = f.number_field :chief_id
  .actions
    = f.submit 'Save'
