%h1 Рабочий учебный план аспиранта
-if @work_plan.check_status_00?
  %oi.badge= 'Не отправлен'
  =link_to "Отправить на проверку", work_plan_send1_path(@work_plan),:class=>"btn"
-if @work_plan.check_status_11?
  %oi.badge.badge-info= 'В ожидание проверки'
-if @work_plan.check_status_22?
  %oi.badge.badge-warning= 'Отправлен на доработку'
  =link_to "Отправить на проверку", work_plan_send1_path(@work_plan),:class=>"btn"
-if @work_plan.check_status_33?
  %oi.badge.badge-success= 'Проверен'

%h2
  на период от
  =l @work_plan.per_start ,:format=>:long
  до
  =l @work_plan.per_end,:format=>:long


%h3 Подготовка и сдача кандидатских экзаменов:
%table.table.table-bordered.table-hover
  %tr
    %th Наименование работы
    %th Дата начала
    %th Дата окончания
    %th По плану
    %th Фактически
    %th Действие

    -@work_plan.candidate.each do |x|

      %tr
        %td=x.name
        %td=x.time_start
        %td=x.time_end
        %td=x.plan
        %td=x.fact
        %td
          .btn-group
            = link_to 'Редактирование', edit_candidate_path(x), :class => 'btn btn-mini btn-info'

            %button.btn.btn-mini.btn-info.dropdown-toggle(data-toggle="dropdown")
              %span.caret
            %ul.dropdown-menu
              %li= link_to 'Удалить', x, method: :delete, data: { confirm: 'Are you sure?' } , :class => "btn"

  =link_to 'Заполнить ', new_work_plan_candidate_path(@work_plan), :class => "btn",:style=>"margin: 0 0 5px 0"
%h3 Дисциплины для изучения:
%table.table.table-bordered.table-hover
  %tr
    %th Наименование работы
    %th Дата начала
    %th Дата окончания
    %th По плану
    %th Фактически
    %th Действие
    -@work_plan.discipline.each do |x|
      %tr
        %td=x.name
        %td=x.time_start
        %td=x.time_end
        %td=x.plan
        %td=x.fact
        %td
          .btn-group
            = link_to 'Редактирование', edit_discipline_path(x), :class => 'btn btn-mini btn-info'

            %button.btn.btn-mini.btn-info.dropdown-toggle(data-toggle="dropdown")
              %span.caret
            %ul.dropdown-menu
              %li= link_to 'Удалить', x, method: :delete, data: { confirm: 'Are you sure?' } , :class => "btn"
  =link_to 'Заполнить ', new_work_plan_discipline_path(@work_plan), :class => "btn" ,:style=>"margin: 0 0 5px 0"
%h3 Научная работа
%table.table.table-bordered.table-hover
  %tr
    %th Наименование работы
    %th Дата начала
    %th Дата окончания
    %th По плану
    %th Фактически
    %th Действие
    -@work_plan.scientific_works_for_plan.each do |x|
      %tr
        %td=x.name
        %td=x.time_start
        %td=x.time_end
        %td=x.plan
        %td=x.fact
        %td
          .btn-group
            = link_to 'Редактирование', edit_scientific_works_for_plan_path(x), :class => 'btn btn-mini btn-info'

            %button.btn.btn-mini.btn-info.dropdown-toggle(data-toggle="dropdown")
              %span.caret
            %ul.dropdown-menu
              %li= link_to 'Удалить', x, method: :delete, data: { confirm: 'Are you sure?' } , :class => "btn"
  =link_to 'Заполнить ', new_work_plan_scientific_works_for_plan_path(@work_plan), :class => "btn" ,:style=>"margin: 0 0 5px 0"
%br