%h1 Listing candidates

%table
  %tr
    %th Name
    %th Time start
    %th Time end
    %th Plan
    %th Fact
    %th Work plan
    %th
    %th
    %th

  - @candidates.each do |candidate|
    %tr
      %td= candidate.name
      %td= candidate.time_start
      %td= candidate.time_end
      %td= candidate.plan
      %td= candidate.fact
      %td= candidate.work_plan_id
      %td= link_to 'Show', candidate
      %td= link_to 'Edit', edit_candidate_path(candidate)
      %td= link_to 'Destroy', candidate, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Candidate', new_candidate_path
