%h1 Listing experiments

%table
  %tr
    %th Stages work
    %th Content
    %th Time start
    %th Time end
    %th
    %th
    %th

  - @experiments.each do |experiment|
    %tr
      %td= experiment.stages_work_id
      %td= experiment.content
      %td= experiment.time_start
      %td= experiment.time_end
      %td= link_to 'Show', experiment
      %td= link_to 'Edit', edit_experiment_path(experiment)
      %td= link_to 'Destroy', experiment, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Experiment', new_experiment_path
