= form_for @academic_work do |f|
  - if @academic_work.errors.any?
    #error_explanation
      %h2= "#{pluralize(@academic_work.errors.count, "error")} prohibited this academic_work from being saved:"
      %ul
        - @academic_work.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :general_plan_id
    = f.number_field :general_plan_id
  .actions
    = f.submit 'Save'
